container_commands:
  01_collectstatic:
    command: "python gallary/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "gallary.settings"
    PYTHONPATH: "/opt/python/current/app/gallary:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "gallary/gallary/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "gallary/static/"
